@charset "UTF-8";
/* CSS Document */

html, body{
	position: fixed;
	top: 0;
	left:0;
	overflow-y:hidden;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-0deg,  #212121, #311B92);
	-webkit-overflow-scrolling:touch;
	
}

@font-face {
    font-family: ZELDA;
    src: url(../transfonter/ZELDA.woff);
}

h1{
	font-family: ZELDA;
	color: #FAFAFA;
	font-size: 300%;
	
	
}

h2{
	
	font-family: ZELDA, lato;
	color: black;
	font-size: 150%;
	
}

h3{
	margin-top: 5px;
	font-family: ZELDA, lato;
	color: white;
	font-size: 120%;
	
}

p{

	margin-top: 2%;
	margin-right: 3%;
	font-family: lato;
	font-size: 90%;
	color: black;
	line-height: 120%;
}



a{
	text-decoration: none;
}

.date{
	font-style: italic;
	margin-top: 5%;
	
}

.page_titel{
	
	margin-left: 5%;
	display: inline-block;
}

.header{
	position: fixed;
	display: inline-block;
	margin-top: 6%;
	margin-left: 5%;
	
	width: 100;
	height: 50%;
	
	
}

.slider{
	margin-top: 40%;
	position: fixed;
	display: inline-block;
	width:100%;
	height: 50%;
	overflow-x:auto;
	overflow-y: hidden;
	
}

.moving{
	margin-left: 14%;
	overflow-x: scroll;
	overflow-y: hidden;
	display: inline-block;
	float: left;
	position: relative;
	height: 100%;
	width: 300%;
	
}

.scrollelement_wide{
	
	margin-bottom: 3%;
	margin-right: 3%;
	display: inline-block;
	position: relative;
	height: 40%;
	width: auto;
	
}

.category{
	height: 100%;
}

.arrowstart{
	float: left;
	display: inline-block;
	width: 5%;
}

.titel{
	float: left;
	z-index: 0;
	position: relative;
	height: 70%;
	width: 80%;
	background-color: white;
	margin-left: 5%;
	display: block;
}

iframe{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 60%;
	
	
}

.videocaption{
	float: right;
	background-color: white;
	width: 28%;
	margin-left: 2%;
	margin-top: 2%;
	position: fixed;
	display: inline-block;
	z-index: 1;
	
}

.divider{
	position: relative;
	float: left;
	width: 100%;
	height: 20%;
}


.dividerimg{
	padding-top: 3%;
	margin-left: 10%;
	height: 1px;
	width: 80%;
}

.description, .descriptionp{
	margin: 5%;
	
}

